.breadcrmp p {
  color: #959595;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 146%; /* 46.72px */
}

#cars .breadcrmp a {
  text-decoration: none;
  color: #959595;
}
#cars .search input {
  border: 0;
  background-color: transparent;
  text-align: left;
  flex: 1;
  /* background-color: aquamarine; */
  /* padding: 0 20px; */
  &:focus {
    outline: none;
  }
}

#cars .search button {
  padding: 5px 30px;
  background-color: var(--blue);
  transition: all 0.5s;
  &:hover {
    border: 1px solid var(--blue) !important;
    background-color: white !important;
    color: black !important;
  }
  &:hover a {
    color: var(--blue);
  }
}
#cars .search button a {
  color: white;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 14px !important;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.pagination button {
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}
